[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-decouple = "*"
psycopg = "*"
djangorestframework = "*"
django-cors-headers = "*"
python-magic = "*"
djangorestframework-simplejwt = "*"
razorpay = "*"
pusher = "*"
boto3 = "*"
django-storages = "*"
drf-yasg = "*"
channels = "*"
daphne = "*"
pytz = "*"

[dev-packages]

[requires]
python_version = "3.11"
