[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "4.2.7"
python-decouple = "*"
psycopg = "*"
djangorestframework = "*"
django-cors-headers = "*"
python-magic = "*"
djangorestframework-simplejwt = "*"
razorpay = "*"
pusher = "*"
boto3 = "*"
django-storages = "*"
drf-yasg = "*"
channels = "*"
daphne = "*"
pytz = "*"
uvicorn = "*"
twisted = {version = "23.10.0", extras = ["http2", "tls"]}

[dev-packages]

[requires]
python_version = "3.11"
